* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: bg-color;
	font-weight: 300;
}

.main {
	flex: 1;
}

.container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	width: 100%;
	margin: 0 auto;	
	max-width: 800px;
	flex-wrap: wrap;
}

.star-icon,
.heart-icon {
	fill: main-color;
}