.projects {
	width: 100%;
}

.projects-list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.project {
	display: flex;
	width: calc(50% - 10px);
	margin: 5px;
	background-color: white;
	flex-wrap: wrap;
	padding: 10px;
}

.project-name {
	margin: 0;
	color: secondary-color;
	font-weight: 300;
}

.project-star {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.projects-count {
	margin-left: 5px;
	color: secondary-color;
}

.project-description {
	width: 100%;
	margin: 10px 0 0;
	color: secondary-color;
}

@media (max-width: 500px) {
	
	.projects-list .heading-lv1 {
		margin-left: 10px;
	}

	.project {
		width: calc(100% - 10px);
	}
}