.profile-container {
	width: 100%;
	max-width: 500px;
	text-align: center;
}

.profile-container .profile-img {
	width: 100%;
	max-width: 200px;
}

.heading-lv1 {
	margin: 20px 0;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	line-height: 45px;
	color: #fff;
}

.description {
	color: #fff;
}