header.header
	div.container
		nav.menu
			ul.menu-itens
				li.menu-item 
					a.menu-link(href="#") Profile
				li.menu-item 
					a.menu-link(href="#") Projects
		div.profile
			img.profile-img(src="assets/img/caio-perfil-mini.jpg" alt="Caio Perfil")
			span.profile-text Caio Dias