extends ./layouts/default.pug

block content
	main.main.container
		div.projects
			section.projects-list
				h1.heading-lv1 Projects
				article.project
					h2.project-name Project name
					div.project-star
						include icons/star-icon.html
						span.projects-count 000
					p.project-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, a quis.