@import 'modules/vars.styl';
@import 'modules/texts.styl';
@import 'modules/global.styl';
@import 'modules/header.styl';
@import 'modules/footer.styl';
@import 'modules/index.styl';
@import 'modules/projects.styl';